@import '../../../styles/config';

.DashboardSearch {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-start;

    .searchHolder {
        position: relative;
        width: 40vw;
        min-width: 15rem;
        display: flex;
        justify-content: flex-start;
        margin-left: $margin-tiny;

        img {
            width: 1rem;
            position: absolute;
            left: 1rem;
            top: 0.5rem;
        }

        .placeholder {
            left: 2.5rem;
            top: 0.6rem;
            pointer-events: none;
        }

        input {
            border-radius: 10rem;
            width: 70%;
            height: 2rem;
            border: none;
            background-color: $color-gray-light;
            padding: 0.5rem 2.5rem;

            &:focus {
                outline: none;
            }
        }

        .dropdown {
            padding-left: 1rem;
            position: relative;
            display: inline-block;

            h3 {
                font-size: 12px;
                white-space: nowrap;
                cursor: pointer;
            }

            img {
                width: 0.6rem;
                left: 5rem;
                position: absolute;
                top: 0.9rem;
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            z-index: 1;
            left: -40%;

            span {
                // padding: 0.4rem 2rem 0.4rem 2rem;
                width: 6rem;
                text-align: center;
                padding: 0.3rem 0;
                background-color: white;
                margin: auto;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
                font-weight: 500;
                font-size: $font-para-lg-size;

                &:hover {
                    cursor: pointer;
                    background-color: $color-gray-light;
                }
            }
        }

        .dropdown:hover .dropdown-content {
            display: flex;
            flex-direction: column;
        }
    }

}