@import '../../../../styles/config';

.AllBlogs {
    margin: 3rem $margin-wide 0 $margin-wide;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
}