@import '../../../styles/config';

.Dashboard {
    display: flex;
    background-color: $color-light;
    height: 100vh;

    .sidebarHolder {
        background-color: $color-light;
        height: 100vh;
        width: 20vw;
        position: relative;
    }

    .topbarHolder {
        position: relative;
        width: 80vw;
    }
}


@media screen and (max-width: 620px) {
    .Dashboard {
        .sidebarHolder {
            width: 10vw;
        }

        .topbarHolder {
            width: 90vw;
        }
    }
}