.btnTag {
    font-family: $font-primary-family;
    padding: 0.5rem 1rem;
    background-color: $color-md-light;
    color: $color-secondary;
    border-radius: 100px;
}
.btnPrimary {
    padding: 2rem 2.5rem;
    background-color: $color-info;
    color: $color-white;
}

