.paraLg {
    font-family: $font-primary-family;
    color: $color-primary;
    font-size: $font-para-lg-size;
    font-weight: $font-md;
}
.placeholder {
    color: $color-gray;
    position: absolute;
    font-weight: 400;
}