.paraLg {
    font-family: $font-primary-family;
    color: $color-primary;
    font-size: $font-para-lg-size;
    font-weight: $font-md;
}
.placeholder {
    color: $color-gray;
    position: absolute;
    font-weight: 400;
}
.avatarHolder {
    background-color: $color-warning;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}