@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

// margin 
$margin-mini: 5vw;
$margin-wide: 20vw;

// colors
$color-primary: #091F6C;
$color-secondary: #279EFF;
$color-success: #57CAA7;
$color-info: #3897F4;
$color-warning: #F6AF60;

$color-purple-light: #B499FF;
$color-purple: #745FFB;
$color-neutral: #FEC37F;
$color-light: #F4F2FA;
$color-md-light: #EDE9F9;
$color-dark: #2E447A;
$color-gray: #AFBAD7;
$color-white: #fff;
$color-black: #090d18;

// fonts
$font-primary-family: 'Roboto', sans-serif;
$font-secondary-family: 'Merriweather', sans-serif;

$font-headline-size: 45px;
$font-title-size: 30px;
$font-subtitle-size: 24px;
$font-para-lg-size: 14px;
$font-para-size: 12px;

$font-light: 200;
$font-md: 500;
$font-bold: 700;
