@import '../../../styles/config';

.MyPosts {
    background-color: $color-md-light;
    height: max-content;
    padding: $margin-tiny;

    .contentHolder {
        background-color: $color-white;
        height: max-content;
        border-radius: 1rem;
        padding: $margin-mini;

        h4 {
            margin-top: 0;
            line-height: 1.5rem;
            border-bottom: 1px solid $color-gray-light;
        }

        .header {
            margin-top: 1rem;

            span {
                display: grid;
                grid-template-columns: 0.2fr 0.7fr 1fr 0.5fr 0.5fr 0.5fr;
                color: $color-gray;

                strong {
                    font-weight: $font-regular;
                }
            }
        }
    }
}