@import '../../../styles/config';

.AddPost {
    background-color: $color-md-light;
    height: calc(100vh - 4rem);
    padding: $margin-tiny;

    .contentHolder {
        .formHolder {
            form {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 3rem 7rem 2rem;
                grid-column-gap: 1rem;
                grid-row-gap: 1rem;
                grid-template-areas:
                    'title title description description'
                    'category category description description'
                    'button button button button';

                .titleHolder>input {
                    padding-left: 0.5rem;
                    width: 100%;
                    background-color: $color-gray-light;
                    border: none;
                    height: 1.5rem;
                    border-radius: 0.5rem;

                    &:focus {
                        outline: none;
                    }
                }

                .descriptionHolder>textarea {
                    padding-left: 0.5rem;
                    height: 10rem;
                    width: 100%;
                    background-color: $color-gray-light;
                    border: none;
                    height: 9rem;
                    border-radius: 0.5rem;

                    &:focus {
                        outline: none;
                    }
                }

                .titleHolder {
                    grid-area: title;
                }

                .descriptionHolder {
                    grid-area: description;
                }

                .categoryHolder {
                    grid-area: category;

                    .tagHolder {
                        .btnTag {
                            float: left;
                            margin-right: 0.5rem;
                            padding: 0.2rem 0.5rem;
                            font-size: 8px;
                            background-color: $color-gray-light;
                        }
                    }
                }

                .btnHolder {
                    grid-area: button;
                    display: flex;
                    justify-content: center;

                    .btnPrimary {
                        padding: 0.5rem 2rem;
                    }
                }

                h4 {
                    margin-top: 0;
                    line-height: 1.5rem;
                    border: none;
                    color: $color-gray;
                    font-size: $font-para-size;
                }

                .btnPrimary {
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .AddPost {
        .contentHolder {
            .formHolder {
                form {
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: 3rem 3rem auto 2rem;
                    grid-template-areas: 
                        'title title title title'
                        'category category category category'
                        'description description description description'
                        'button button button button';
                }
            }
        }
    }
}