@import '../../../../styles/config';

.Blog {
    display: flex;
    flex-direction: column;
    width: 100%;

    &>*:first-child {
        height: 15rem !important;
    }

    &>*:first-child {
        height: 100%;
    }

    &>.infoHolder {
        margin-top: 2rem;

        & :nth-child(2) {
            cursor: pointer;
        }
    }

    .imgHolder {
        height: 15rem;
        margin-bottom: 1.5rem;
        width: 100%;
        background-color: $color-purple-light;
        margin-right: 2rem;
        border-radius: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .authorHolder {
        display: flex;
        margin-top: 2rem;

        .infoHolder {
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }
}

@media only screen and (max-width: 380px) {
    .Blog {
        .imgHolder {
            width: 80%;
        }

        .infoHolder {
            width: 80%;
        }
    }

}