@import '../../../../styles/config';
.Blog {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    & > 
    .imgHolder {
        height: 15rem;
        margin-bottom: 1.5rem;
        width: 100%;
        background-color: $color-purple-light;
        margin-right: 2rem;
        border-radius: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .authorHolder {
        display: flex;
        margin-top: 1rem;
        
        .infoHolder {
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }
}