@import '../../../../styles/config';

.FeaturedBlog {
    margin: 0 $margin-wide;
    display: flex;

    &>.infoHolder {
        width: 40%;
    }

    & > *:first-child {
        width: 100%;
    }

    .imgHolder {
        height: 100%;
        background-color: $color-purple-light;
        margin-right: 2rem;
        border-radius: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .authorHolder {
        display: flex;
        margin-top: 1rem;

        .infoHolder {
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }
}

@media only screen and (max-width: 991px) {
    .FeaturedBlog {
        flex-direction: column;

        &>.infoHolder {
            width: 100%;
        }

        .imgHolder {
            width: 100%;
            height: 15rem;
            margin-bottom: 1.5rem;
        }
    }
}