.Login {
    height: 80vh;
    & > :first-child {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .Login {
        & > :first-child {
            display: block;
        }
    }
}